@charset "utf-8";
/* メモ
tbodyにbackgroundcolor入れるとcolが意味をなくす
fontweightをboldとかにするとflexにしたときwidthが若干増える。
*/
:root{
    --holiday-color: white;
    --holiday-back1: hsl(10, 80%, 60%); 
    --holiday-back2: hsl(195, 61%, 63%); 
    --holiday-back3: hsl(341, 61%, 65%); 
    --holiday-back4: hsl(84, 52%, 48%); 
    --holiday-back5: hsl(125, 43%, 54%); 
    --holiday-back6: hsl(228, 66%, 65%); 
    --holiday-back7: hsl(185, 75%, 61%); 
    --holiday-back8: hsl(245, 43%, 54%); 
    --holiday-back9: hsl(169, 43%, 54%); 
    --holiday-back10: hsl(26, 79%, 55%); 
    --holiday-back11: hsl(214, 43%, 54%); 
    --holiday-back12: hsl(239, 50%, 39%); 
    

    --cal-basecolor: #333;
    --white-layer: hsla(0, 0%, 100%, .7);
}
* {
    box-sizing: border-box;
}
.cal {
    max-width: 400px;
    width: 100%;
    min-width: 300px;
    border: #333 solid 1px;
    padding: .5em 1em 1em;
}
.calendar {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: var(--cal-basecolor);
}
.calendar_caption {
    color: white;
    padding: .3em;
    background-color: var(--holiday-back8);
}
.calendar_thead{
    background-color: white;
    font-size: small;
}
.calendar_th {
    padding-top: .5em;
}
.calendar_th:first-child {
    color: var(--holiday-back8);
}
.calendar td {
    border: #333 solid 1px;
}
.calendar_td {
    padding: .5em 0;
    background-color: white;
}
.calendar col {
    background-color: var(--holiday-back8);
}
.holi {
    padding: .5em 0;
    color: var(--holiday-color);
    /* background-color: var(--holiday-back8); */
}
.other_monthH{
    background-color: var(--white-layer);
}
.other_month {
    color: hsl(0,0%,70%);
}
.now {
    font-weight:bold;
}